<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nex.nexmart.mapper.CouponUserMapper">

    <select id="countByUserAndCoupon" resultType="long">
        SELECT COUNT(*)
        FROM coupon_user
        WHERE user_id = #{userId}
          AND coupon_id = #{couponId}
    </select>

    <select id="countByUserAndCoupons" resultType="map">
        SELECT coupon_id, COUNT(*) AS cnt
        FROM coupon_user
        WHERE user_id = #{userId}
          AND coupon_id IN
        <foreach collection="couponIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY coupon_id
    </select>
</mapper>
