<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nex.nexmart.mapper.base.HomeSectionItemMapper">

    <resultMap id="BaseResultMap" type="com.nex.nexmart.model.entity.home.HomeSectionItem">
            <id property="id" column="id" />
            <result property="sectionType" column="section_type" />
            <result property="productId" column="product_id" />
            <result property="sort" column="sort" />
    </resultMap>

    <sql id="Base_Column_List">
        id,section_type,product_id,sort
    </sql>
</mapper>
